<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--<property name="hibernate.connection.pool_size">${hibernate.connection.pool_size}</property>-->
        <!--<property name="hibernate.dialect">${hibernate.dialect}</property>-->
        <!--<property name="hibernate.show_sql">${hibernate.show_sql}</property>-->
        <!--<property name="hibernate.format_sql">${hibernate.format_sql}</property>-->
        <!--<property name="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</property>-->
        <!--<property name="hibernate.generate_statistics">${hibernate.generate_statistics}</property>-->

        <property name="hibernate.connection.pool_size">10</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.generate_statistics">false</property>


        <!--hibernate.dialect                 = org.hibernate.dialect.MySQLDialect-->
        <!--hibernate.connection.driver_class = com.mysql.jdbc.Driver-->
        <!--hibernate.connection.pool_size    = 10-->
        <!--hibernate.connection.url          = jdbc:mysql://localhost/primarate-->
        <!--hibernate.connection.username     = root-->
        <!--hibernate.connection.password     =-->
        <!--hibernate.hbm2ddl.auto            = update-->
        <!--hibernate.show_sql                = false-->
        <!--hibernate.format_sql              = false-->
        <!--hibernate.generate_statistics     = false-->
        <!---->
        <!--hibernate.hbm2ddl.auto = create-->
        <!--hibernate.show_sql     = true-->



        <mapping class="com.visiansystems.model.CentralBank"/>
        <mapping class="com.visiansystems.model.BankRateFeedReference"/>
        <mapping class="com.visiansystems.model.MonetaryCountry"/>
        <mapping class="com.visiansystems.model.MonetaryData"/>
        <mapping class="com.visiansystems.model.MonetaryUnit"/>
    </session-factory>
</hibernate-configuration>
